################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeenTime/.vs
/.vs

# Local tooling and operating-system files
.DS_Store
.pnpm-store/
